.App {
 
    width: 100%;
    height:100%;
    margin: 0 auto;
  display: flex;
  text-align: center;
  background-color: darksalmon ;
  background-repeat: repeat;
  background-size: initial;
}
.header {
  
  max-width: 800px;
  width: 100%;
    margin: 0 auto;
  text-align: center;
  text-align: center;
  background-color: chocolate;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
    width: 100%;
    height: 500px;
  display: flex;
  text-align: center;
  background-image: url(../public/sky.jpeg);
  border-radius: 16px;
  border: 2px;
  background-repeat: no-repeat;
  background-position: top;
  
}

.board {
  background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
 margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.X {
  color: blue; 
  background-image: url(../public/vegetaX.jpeg);
  
}

.O {
  color: red;
  background-image: url(../public/GokuO.jpeg);
}
.historia{
  background-color: rgba(153, 152, 152, 0.623);
}
.proyecto{
  background-color: rgba(55, 52, 207, 0.534);
}

.footer{
  background-color: chocolate;
}